@using DriveTech.Models

@model LoginModel

@{
	ViewData["title"] = "Excluir do cadastro do usuário";
}


<!--<h1 class="display-4 mb-5">@ViewData["title"]</h1>-->


@using (Html.BeginForm("Excluir", "Login", FormMethod.Post, new { @class = "row g-3" }))
{
	<div class="col-md-3">
		@Html.LabelFor(Model => Model.Nome, new { @class = "form-label" })
		@Html.TextBoxFor(Model => Model.Nome, new { @class = "form-control", @readonly = "readonly" })
	</div>
	<div class="col-md-4">
		@Html.LabelFor(Model => Model.Email, new { @class = "form-label" })
		@Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @readonly = "readonly" })
	</div>
	<div class="col-md-2">
		@Html.LabelFor(Model => Model.Senha, new { @class = "form-label" })
		@Html.TextBoxFor(Model => Model.Senha, new { @class = "form-control", @readonly = "readonly" })
	</div>
	<div class="col-md-3">
		@Html.LabelFor(Model => Model.Cadastro, new { @class = "form-label" })
		@Html.TextBoxFor(Model => Model.Cadastro, new { @type = "datetime", @class = "form-control", @disabled = "disabled" })
	</div>
}